.aboutContainer{
    /* sx={{ display: 'flex', marginTop: "40px", justifyContent: "space-between", alignItems: "center" }} */
    display: flex;
     margin-top: 40px;
     /* width: 100%; */
     justify-content: space-between;
     align-items: center;

}

/* MEDIA QUERY */

 @media(max-width:800px){
    .aboutContainer{
        flex-direction: column; 
    }
 }


